# PostgreSQL
POSTGRES_USER=db_user
POSTGRES_PASSWORD=CHANGE_ME_TO_A_STRONG_PASSWORD
POSTGRES_DB=access_db

# JWT
JWT_KEY=CHANGE_ME_TO_A_STRONG_SECRET_AT_LEAST_32_BYTES

# Default admin account (created on first startup)
ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=Admin1234!
ADMIN_FULLNAME=System Administrator
