<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly" NotFoundPage="typeof(Pages.NotFound)">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized Context="authState">
                    @if (authState.User.Identity?.IsAuthenticated != true)
                    {
                        <AccessControl.UI.Auth.RedirectToLogin />
                    }
                    else
                    {
                        <p class="mt-4 text-center">Nie masz uprawnień do tego zasobu.</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
        </Found>
    </Router>
</CascadingAuthenticationState>
